openapi: 3.1.0
info:
  title: Bank of Japan Time-Series Statistics API
  version: "1.0"
  description: |
    Machine-readable API for the Bank of Japan's time-series statistical data.

    Announced on [2026-02-18](https://www.boj.or.jp/statistics/outline/notice_2026/not260218a.htm)
    by the BOJ Statistics Department. Provides access to the same data available on the
    [BOJ Time-Series Search Site](https://www.stat-search.boj.or.jp/).

    **Key characteristics:**
    - No authentication required
    - HTTP status is always 200; errors are indicated by the `STATUS` field in the JSON body
    - Pagination via `NEXTPOSITION` / `startPosition`
    - Parameter names and values are case-insensitive
    - Supports gzip compression (`Accept-Encoding: gzip`)
    - Error responses are always JSON, regardless of the `format` parameter
    - Avoid high-frequency access — connections may be blocked

    **CSV encoding:** Japanese (`lang=jp`) responses use Shift-JIS; English (`lang=en`) use UTF-8.

    **Official resources:**
    - [API Manual (PDF)](https://www.stat-search.boj.or.jp/info/api_manual.pdf)
    - [API Usage Notes (PDF)](https://www.stat-search.boj.or.jp/info/api_notice.pdf)
    - [Request URL Helper Tool (Excel)](https://www.stat-search.boj.or.jp/info/api_tool.xlsx)
  contact:
    name: BOJ Economic Statistics Division
    email: post.rsd17@boj.or.jp
  license:
    name: Public Data
    url: https://www.boj.or.jp/

servers:
  - url: https://www.stat-search.boj.or.jp
    description: BOJ Time-Series Search

paths:
  /api/v1/getDataCode:
    get:
      operationId: getDataCode
      summary: Fetch time-series data by series code(s)
      description: |
        Retrieve time-series observations for one or more series codes.
        Supports JSON and CSV output. Results are paginated when the response
        exceeds API limits (max 250 series, 60,000 data points per request).

        **Important:** All specified series codes must share the same frequency.
        Do **not** include the DB name prefix in series codes (use `MADR1Z@D`,
        not `IR01'MADR1Z@D`).
      parameters:
        - $ref: "#/components/parameters/db"
        - name: code
          in: query
          required: true
          description: |
            Series code(s), without DB name prefix.
            Comma-separated for multiple codes (max 250).
            All codes must share the same frequency.
          schema:
            type: string
          example: TK99F1000601GCQ01000
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/lang"
        - $ref: "#/components/parameters/startDate"
        - $ref: "#/components/parameters/endDate"
        - $ref: "#/components/parameters/startPosition"
      responses:
        "200":
          description: Always returns HTTP 200. Check `STATUS` field for actual result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataResponse"
            text/csv:
              schema:
                type: string

  /api/v1/getDataLayer:
    get:
      operationId: getDataLayer
      summary: Fetch time-series data by hierarchy layer
      description: |
        Retrieve time-series observations by navigating the category hierarchy.
        Use the metadata endpoint to discover layer values for each database.

        **Limits:** The number of series matching the layer filter (counted
        *before* frequency filtering) must not exceed 1,250; otherwise an error
        is returned.
      parameters:
        - $ref: "#/components/parameters/db"
        - name: frequency
          in: query
          required: true
          description: |
            Time-series frequency code.
            Weekly series have subtypes (W0–W6) but always specify `W`.
          schema:
            $ref: "#/components/schemas/Frequency"
          example: D
        - name: layer
          in: query
          required: true
          description: |
            Comma-separated layer path. Layer 1 is required; layers 2–5 are
            optional. Use `*` as a wildcard to select all values at a layer level.
            Examples: `1,1` (layer1=1, layer2=1), `*` (all layer1 values),
            `1,*,2` (layer1=1, all layer2, layer3=2).
          schema:
            type: string
          example: "1,1"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/lang"
        - $ref: "#/components/parameters/startDate"
        - $ref: "#/components/parameters/endDate"
        - $ref: "#/components/parameters/startPosition"
      responses:
        "200":
          description: Always returns HTTP 200. Check `STATUS` field for actual result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataResponse"
            text/csv:
              schema:
                type: string

  /api/v1/getMetadata:
    get:
      operationId: getMetadata
      summary: Fetch series catalogue for a database
      description: |
        Returns metadata for all series in a database, including series codes,
        names, units, frequency, layer positions, and date ranges.
        Does not support `startDate`, `endDate`, or `startPosition` parameters.
      parameters:
        - $ref: "#/components/parameters/db"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/lang"
      responses:
        "200":
          description: Always returns HTTP 200. Check `STATUS` field for actual result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetadataResponse"
            text/csv:
              schema:
                type: string

components:
  parameters:
    db:
      name: db
      in: query
      required: true
      description: |
        Database identifier. Case-insensitive.
        See the full list: `IR01`–`IR04` (interest rates), `FM01`–`FM09` (financial markets),
        `MD01`–`MD14` (money/deposits), `LA01`–`LA05` (loans), `BS01`–`BS02` (balance sheets),
        `FF` (flow of funds), `OB01`–`OB02` (BOJ operations), `CO` (TANKAN),
        `PR01`–`PR04` (prices), `PF01`–`PF02` (public finance), `BP01` (balance of payments),
        `BIS`, `DER`, `PS01`–`PS02` (settlement), `OT` (other).
      schema:
        type: string
      example: CO

    format:
      name: format
      in: query
      required: false
      description: Response format. Defaults to `json` if omitted. Errors are always returned as JSON regardless of this setting.
      schema:
        type: string
        enum: [json, csv]
        default: json
      example: json

    lang:
      name: lang
      in: query
      required: false
      description: Language for field labels and names. Defaults to `jp` (Japanese) if omitted.
      schema:
        type: string
        enum: [jp, en]
        default: jp
      example: en

    startDate:
      name: startDate
      in: query
      required: false
      description: |
        Start date filter. If omitted, data starts from the earliest available period.
        Format depends on frequency:
        - Annual (CY/FY): `YYYY` (e.g. `2024`)
        - Semi-annual (CH/FH): `YYYYHH` where HH is `01` or `02` (e.g. `202501`)
        - Quarterly (Q): `YYYYQQ` where QQ is `01`–`04` (e.g. `202502`)
        - Monthly, Weekly, Daily (M/W/D): `YYYYMM` (e.g. `202401`)

        Valid range: 1850–2050.
      schema:
        type: string
      example: "202401"

    endDate:
      name: endDate
      in: query
      required: false
      description: |
        End date filter. If omitted, data extends to the latest available period.
        Same format rules as `startDate`. Must be >= `startDate`.
      schema:
        type: string
      example: "202404"

    startPosition:
      name: startPosition
      in: query
      required: false
      description: |
        Pagination offset from previous response's `NEXTPOSITION` value.
        Must be an integer >= 1. For Code API, this is the 1-based index into
        the list of requested series codes. For Layer API, this is a global
        sequence number across all series in the database.
      schema:
        type: integer
        minimum: 1

  schemas:
    Frequency:
      type: string
      enum: [CY, FY, CH, FH, Q, M, W, D]
      description: |
        Frequency code used in **request parameters** only.
        CY=Calendar Year, FY=Fiscal Year, CH=Calendar Half, FH=Fiscal Half,
        Q=Quarterly, M=Monthly, W=Weekly (covers W0–W6 subtypes), D=Daily.

        Note: **response** fields use full names instead (e.g. `MONTHLY`, `DAILY`).

    ResponseEnvelope:
      type: object
      required: [STATUS]
      properties:
        STATUS:
          type: integer
          description: |
            `200` on success, `400` on parameter error, `500` on unexpected error,
            `503` on database access error.
          enum: [200, 400, 500, 503]
          example: 200
        MESSAGEID:
          type: string
          description: |
            Message ID indicating the result. Examples:
            `M181000I` (success), `M181030I` (success, no matching data),
            `M181001E`–`M181020E` (parameter errors),
            `M181090S` (unexpected error), `M181091S` (database error).
          default: ""
          example: M181000I
        MESSAGE:
          type: string
          description: Human-readable message corresponding to MESSAGEID.
          default: ""
        DATE:
          type: string
          description: |
            Server timestamp in Japan time.
            For Code/Layer API: file creation timestamp.
            For Metadata API: internal data creation timestamp (not request time).
          example: "2026-02-18T13:00:00.000+09:00"
        PARAMETER:
          type: object
          nullable: true
          description: Echo of the request parameters. `null` on error.
        NEXTPOSITION:
          type: integer
          nullable: true
          description: |
            Pagination cursor. `null` (JSON) or blank (CSV) when this is the last page.
            Pass this value as `startPosition` in the next request to continue.

    DataResponse:
      allOf:
        - $ref: "#/components/schemas/ResponseEnvelope"
        - type: object
          properties:
            RESULTSET:
              type: array
              items:
                $ref: "#/components/schemas/SeriesResult"

    MetadataResponse:
      allOf:
        - $ref: "#/components/schemas/ResponseEnvelope"
        - type: object
          properties:
            RESULTSET:
              type: array
              items:
                $ref: "#/components/schemas/MetadataRecord"

    SeriesValues:
      type: object
      properties:
        SURVEY_DATES:
          type: array
          items:
            oneOf:
              - type: integer
              - type: string
          description: |
            Observation dates (format depends on frequency):
            Annual: `YYYY`, Semi-annual: `YYYYHH`, Quarterly: `YYYYQQ`,
            Monthly: `YYYYMM`, Weekly/Daily: `YYYYMMDD`.
          example: [202401, 202402, 202403, 202404]
        VALUES:
          type: array
          items:
            oneOf:
              - type: number
              - type: string
              - type: "null"
          description: Observation values. `null` indicates missing data (no data for that period).
          example: [106.9, 106.8, 107.2, 107.5]

    SeriesResult:
      type: object
      required: [SERIES_CODE]
      properties:
        SERIES_CODE:
          type: string
          description: Unique series identifier (without DB name prefix).
          example: TK99F1000601GCQ01000
        NAME_OF_TIME_SERIES:
          type: string
          nullable: true
          description: Series name in English. Only present when `lang=en`.
          example: "All Items, Ku-area of Tokyo"
        NAME_OF_TIME_SERIES_J:
          type: string
          nullable: true
          description: Series name in Japanese. Only present when `lang=jp`.
        UNIT:
          type: string
          nullable: true
          description: Unit label in English. Only present when `lang=en`.
          example: CY2020=100
        UNIT_J:
          type: string
          nullable: true
          description: Unit label in Japanese. Only present when `lang=jp`.
        FREQUENCY:
          type: string
          nullable: true
          description: |
            Frequency as a full name (not the abbreviated code used in parameters):
            `ANNUAL`, `ANNUAL(MAR)`, `SEMIANNUAL`, `SEMIANNUAL(SEP)`,
            `QUARTERLY`, `MONTHLY`, `WEEKLY(MONDAY)` through `WEEKLY(SUNDAY)`, `DAILY`.
          example: MONTHLY
        CATEGORY:
          type: string
          nullable: true
          description: Statistical category in English. Only present when `lang=en`.
          example: Consumer Price Index
        CATEGORY_J:
          type: string
          nullable: true
          description: Statistical category in Japanese. Only present when `lang=jp`.
        LAST_UPDATE:
          oneOf:
            - type: integer
            - type: string
          nullable: true
          description: Last update date in `YYYYMMDD` format.
          example: 20250520
        VALUES:
          $ref: "#/components/schemas/SeriesValues"

    MetadataRecord:
      type: object
      properties:
        SERIES_CODE:
          type: string
          nullable: true
          description: |
            Unique series identifier (without DB name prefix).
            Blank for hierarchy-only rows that have no associated series.
          example: MAINAVG
        NAME_OF_TIME_SERIES:
          type: string
          nullable: true
          description: Series name in English. Only present when `lang=en`.
        NAME_OF_TIME_SERIES_J:
          type: string
          nullable: true
          description: Series name in Japanese. Only present when `lang=jp`.
        UNIT:
          type: string
          nullable: true
          description: Unit label in English. Only present when `lang=en`.
        UNIT_J:
          type: string
          nullable: true
          description: Unit label in Japanese. Only present when `lang=jp`.
        FREQUENCY:
          type: string
          nullable: true
          description: |
            Frequency as a full name: `ANNUAL`, `ANNUAL(MAR)`, `SEMIANNUAL`,
            `SEMIANNUAL(SEP)`, `QUARTERLY`, `MONTHLY`, `WEEKLY(MONDAY)` through
            `WEEKLY(SUNDAY)`, `DAILY`.
          example: DAILY
        CATEGORY:
          type: string
          nullable: true
          description: Statistical category in English. Only present when `lang=en`.
        CATEGORY_J:
          type: string
          nullable: true
          description: Statistical category in Japanese. Only present when `lang=jp`.
        LAYER1:
          oneOf:
            - type: integer
            - type: string
          nullable: true
        LAYER2:
          oneOf:
            - type: integer
            - type: string
          nullable: true
        LAYER3:
          oneOf:
            - type: integer
            - type: string
          nullable: true
        LAYER4:
          oneOf:
            - type: integer
            - type: string
          nullable: true
        LAYER5:
          oneOf:
            - type: integer
            - type: string
          nullable: true
        START_OF_THE_TIME_SERIES:
          type: string
          nullable: true
          description: |
            Earliest available period. Format depends on frequency:
            Annual: `YYYY`, Semi-annual: `YYYYHH`, Quarterly: `YYYYQQ`,
            Monthly: `YYYYMM`, Weekly/Daily: `YYYYMMDD`.
          example: "19850701"
        END_OF_THE_TIME_SERIES:
          type: string
          nullable: true
          description: Latest available period. Same format as `START_OF_THE_TIME_SERIES`.
          example: "20251128"
        LAST_UPDATE:
          oneOf:
            - type: integer
            - type: string
          nullable: true
          description: Last update date in `YYYYMMDD` format.
        NOTES:
          type: string
          nullable: true
          description: Remarks in English. Only present when `lang=en`.
        NOTES_J:
          type: string
          nullable: true
          description: Remarks in Japanese. Only present when `lang=jp`.
